.foreign_key{
  background-image: url(https://cdn1.iconfinder.com/data/icons/airline-flight-booking-mobile-app/15/trip-route-travel-dot-connection-relationship-16.png) !important;
}
.text_field{ background-image: url(https://cdn2.iconfinder.com/data/icons/essential-web-3/50/edit-field-type-text-fill-16.png) !important;
}
.date_field{ background-image: url(https://cdn2.iconfinder.com/data/icons/crystalproject/Open-Office-Icons/stock_form-date-field.png) !important;
}
.boolean_field{
    background-image: url(https://cdn3.iconfinder.com/data/icons/bold-blue-glyphs-free-samples/32/Switch_Button_Preferences_Options_Swipe_Mobile_Position-16.png);
}
.supload_field{
    background-image: url(https://cdn4.iconfinder.com/data/icons/graphic-design-72/32/Graphic_Design_picture_upload-16.png);
}
.mupload_field{
    background-image: url(https://cdn0.iconfinder.com/data/icons/data-transfer-14/512/N_T_1273Artboard_1_copy_8-16.png);
}

.integer_field{
    background-image: url(https://cdn3.iconfinder.com/data/icons/databases/512/integer_number-16.png);
}

.numeric_field{
    background-image: url(https://cdn3.iconfinder.com/data/icons/databases/512/integer_number-16.png);
}

.float_field{
    background-image: url(https://cdn3.iconfinder.com/data/icons/databases-2-2/512/float_number-16.png);
}

.currency_field{
    background-image: url(https://cdn3.iconfinder.com/data/icons/databases-2-2/512/float_number-16.png);
}
.oid_field{
    background-image: url(https://cdn2.iconfinder.com/data/icons/object-other/64/tank-water-drop-16.png);
}






